<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-160 sm:w-160 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Registrarte</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>¿Ya tienes una cuenta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/pages/authentication/sign-in']">Iniciar sesión
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            
            <form
                class="mt-8"
                [formGroup]="documentForm">

                <!-- Document field -->
                <mat-form-field class="w-full">
                    <mat-label>Número de documento</mat-label>
                    <input
                        id="nro_documento"
                        matInput
                        [attr.disabled]="foundDocument"
                        [formControlName]="'nro_documento'">
                    <mat-error *ngIf="documentForm.get('nro_documento').hasError('required')">
                        Se requiere número de documento (DNI, C.E., entre otros)
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    *ngIf="!foundDocument"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="documentForm.disabled"
                    (click)="info()">
                    <span *ngIf="!documentForm.disabled">
                        Buscar documento
                    </span>
                    <mat-progress-spinner
                        *ngIf="documentForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <button
                    *ngIf="foundDocument"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'accent'"
                    [disabled]="documentForm.disabled"
                    (click)="changeDocument()">
                    <span *ngIf="!documentForm.disabled">
                        Cambiar documento
                    </span>
                    <mat-progress-spinner
                        *ngIf="documentForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="signUpForm">

                <!-- <div class="flex flex-col sm:flex-row p-8"> -->

                    <div class="flex flex-auto flex-wrap">
                        <!-- Name, SKU & etc. -->
                        <div class="flex flex-col w-full">

                            <!-- Nro Matricula -->
                            <div class="flex">
                                <mat-form-field class="w-1/2 pr-2">
                                    <mat-label>Nro de matrícula</mat-label>
                                    <input
                                        id="nro_matricula"
                                        matInput
                                        [formControlName]="'nro_matricula'">
                                    <mat-error *ngIf="signUpForm.get('nro_matricula').hasError('required')">
                                        Se requiere número de matrícula
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-1/2 pl-2">
                                    <mat-label>Tipo documento</mat-label>
                                    <input
                                        id="tipo_doc"
                                        matInput
                                        [formControlName]="'tipo_doc'">
                                    <mat-error *ngIf="signUpForm.get('tipo_doc').hasError('required')">
                                        Se requiere apellidos
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Name -->
                            <mat-form-field class="w-full">
                                <mat-label>Nombres</mat-label>
                                    <input
                                        id="nombres"
                                        matInput
                                        [formControlName]="'nombres'">
                                <mat-error *ngIf="signUpForm.get('nombres').hasError('required')">
                                    Se requiere nombre
                                </mat-error>
                            </mat-form-field>

                            <!-- Surname -->
                            <mat-form-field class="w-full">
                                <mat-label>Apellidos</mat-label>
                                <input
                                    id="apellidos"
                                    matInput
                                    [formControlName]="'apellidos'">
                                <mat-error *ngIf="signUpForm.get('apellidos').hasError('required')">
                                    Se requiere apellidos
                                </mat-error>
                            </mat-form-field>

                            <div class="flex">
                                <mat-form-field class="w-1/2 pr-2">
                                    <mat-label>Género</mat-label>
                                    <input
                                        id="sexo"
                                        matInput
                                        [formControlName]="'sexo'">
                                    <mat-error *ngIf="signUpForm.get('sexo').hasError('required')">
                                        Se requiere escoger género
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-1/2 pl-2">
                                    <mat-label>Teléfono</mat-label>
                                    <input
                                        id="celular"
                                        matInput
                                        [formControlName]="'celular'">
                                    <mat-error *ngIf="signUpForm.get('celular').hasError('required')">
                                        Se requiere celular
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Email -->
                            <mat-form-field class="w-full">
                                <mat-label>Correo (de preferencia unitru)</mat-label>
                                <input
                                    id="correo"
                                    matInput
                                    [formControlName]="'correo'">
                                <mat-error *ngIf="signUpForm.get('correo').hasError('required')">
                                    Se requiere correo
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                <!-- </div> -->

                <!-- ToS and PP -->
                <!-- <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'agreements'">
                        <span>I agree to the</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Terms of Service
                        </a>
                        <span>and</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Privacy Policy
                        </a>
                    </mat-checkbox>
                </div> -->

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Crea tu cuenta gratuita
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>

        </div>
    </div>
</div>
