<div class="sm:flex flex-auto overflow-hidden">
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto sm:min-h-90 sm:h-90 text">
        <table
            mat-table
            [dataSource]="dataSource"
            matSort (matSortChange)="announceSortChange($event)"
            style="width: 100%;"
            class="mat-cell"
        >
            <!-- | filtrado:termino -->
            <ng-container
                *ngFor="let item of cabeceras; let i = index"
                [matColumnDef]="item.name"
            >
                <th
                    mat-header-cell
                    class="bg-gray-100 font-bold pl-5"
                    *matHeaderCellDef
                    mat-sort-header
                >
                    {{ item.displayedName }}
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    [attr.data-label]="item.displayedName"
                    [ngClass]="{
                        'w-full md:w-2/5 pl-0': item.type === 'construccion',
                        'pl-0 md:pl-4  ': item.type !== 'construccion'
                    }"
                >
                    <mat-checkbox
                        class="select"
                        *ngIf="item.type === 'seleccionado'"
                        (change)="$event ? selection.toggle(element) : null"
                        [checked]="selection.isSelected(element)"
                        (click)="obtenerValor(element, selection.isSelected(element))"
                    >
                    </mat-checkbox>
                    <span *ngIf="item.type === 'number'">{{
                        element[item.name] | number: "1.0"
                    }}</span>
                    <span
                        *ngIf="item.type === 'string'"
                        class="lg:text-justify text-right pl-4 lg:pl-0 md:pl-2"
                        >{{ element[item.name] }}</span
                    >

                    <span
                        *ngIf="item.type === 'construccion'"
                        class="lg:text-justify text-right pl-4 lg:pl-0 md:pl-2"
                        >{{ element[item.name] }}</span
                    >

                    <span *ngIf="item.type === 'moneda'">{{
                        element[item.name] | currency: "S/ ":true:"1.0-0"
                    }}</span>

                    <span *ngIf="item.type === 'date'">{{
                        element[item.name] | date: "dd/MM/yyyy"
                    }}</span>
                    <span
                        *ngIf="item.type === 'estado'"
                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                        [ngClass]="{
                            'bg-red-200 text-red-600':
                                element[item.name] === 'Inactivo',
                            'bg-green-200 text-green-600 ':
                                element[item.name] === 'Activo'
                        }"
                        >{{ element[item.name] }}</span
                    >
                    <span *ngIf="item.type === 'datetime'">{{
                        element[item.name] | date: "yyyy-MM-dd"
                    }}</span>
                    <div *ngIf="item.type === 'acciones'" class="flex flex-row">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 mr-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            style="cursor: pointer; color: rgb(105, 166, 236)"
                            (click)="detalle(element)"
                            stroke-width="2"
                            matTooltip="Ver detalle"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                            />
                        </svg>

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 mr-3"
                            fill="none"
                            stroke="currentColor"
                            style="
                                cursor: pointer;
                                color: rgba(30, 58, 138, var(--tw-bg-opacity));
                            "
                            (click)="editar(element)"
                            stroke-width="2"
                            matTooltip="Editar"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                            />
                        </svg>
                    </div>
                </td>
            </ng-container>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                class="header"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true"> </mat-paginator>
</div>
