<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 pt-4 pb-0 sm:p-12 sm:pb-0 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-160 md:w-160 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Comunicado</div>
            <div class="mt-4 text-2xl text-justify">
                <!-- La entrega de carnés universitarios se ha retrasado debido a problemas internos de SUNEDU, por ello esperan dar pronta solución y la entrega de carnés se habilite nuevamente. -->
                <!-- Se le comunica que el proceso para tramitar carné universitario ha culminado el lunes 24 de abril a las 08:00 hrs. -->
                Aquellas personas que han solicitado carné universitario en el segundo lote, ya pueden acercarse a su Secretaría de Escuela a recogerlo.
            </div>
            <hr>
            <div class="mt-4 text-xl text-justify">
                Las nuevas solicitudes de carnés universitarios podrán ser solicitadas a través del sistema desde el 
                <b class="text-red-500">28 de agosto al 15 de setiembre del presente año</b>.
                Recordar que para solicitar tu carné debes tener una matrícula vigente y validar tu fotografía en <a href="https://siucarne.sunedu.gob.pe/carne/validacion" target="_blank" rel="noopener noreferrer" style="color: blue;">SUNEDU</a>, en caso aplique.
            </div>
            <hr>
            <div class="text-red-600 font-bold text-lg text-justify">
                <!-- Recomendación: Hacer seguimiento del estado del trámite -->
                <!-- Recomendación: Hacer seguimiento del estado del trámite, para solución inmediata en caso de observaciones. Las observaciones pueden ser levantadas hasta el martes 25 de abril (revisar el "Manual de validación de foto"). -->
                Recomendación: Verificar si aún cuenta con una solicitud pendiente del anterior proceso y en caso de dudas, solicitar y/o revisar el manual de usuario.
            </div>
            <!-- Form footer -->
            <!-- <div class="mt-8 text-md font-medium text-secondary items-center"> -->
                <!-- <button mat-raised-button color="primary" (click)="continue()">Continuar</button> -->
                <!-- <a mat-raised-button color="warn"  >Manual de usuario</a> -->
            <!-- </div> -->
            <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 px-4 sm:px-12 border-t bg-gray-50 dark:bg-transparent sm:rounded-2xl">
                <!-- Manual de usuario -->
                <a
                    mat-flat-button
                    [color]="'warn'"
                    href="https://drive.google.com/drive/folders/1z40SoM4wGcqiCcywZURTqYHmVaWqoWX_?usp=share_link"
                    [matTooltip]="'Descargar manual de usuario para solicitud de carné universitario'"
                    target="_blank">
                    Manual de usuario
                </a>
                <!-- Cancel -->
                <!-- <button
                    class="ml-auto"
                    mat-button
                    [matTooltip]="'Cancel'">
                    Cancelar
                </button> -->
                <!-- Guardar -->
                <button
                    class="ml-auto"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="continue()">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
