<div
    mat-dialog-title
    class="text text-white text-2x1 text-center justify-center flex flex-col -mx-6 -mt-6 py-4 bg-blue-900"
>
    <span class="mx-3">VERIFICAR REQUISITO: {{ data.nombre }}</span>
</div>
<div mat-dialog-content class="pb-4">
    <div class="example-action-buttons">
        <!-- <button mat-button (click)="accordion.openAll()">Expandir todo</button>
        <button mat-button (click)="accordion.closeAll()">Contraer todo</button> -->
    </div>
    <form id="requisitoForm" autocomplete="off" [formGroup]="requisitoForm" *ngIf="!data.lectura">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Validación:
                    </mat-panel-title>
                    <mat-panel-description>Realizar validación de la resolucion
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <br><br>
                <div class="grid grid-cols-6 gap-y-6 mb-3">
                    <mat-form-field
                        class="sm:col-span-6 col-span-6 ml-3 h-9 mb-3"
                        appearance="outline"
                    >
                    <mat-label>ESTADO REQUISITO</mat-label>
                    <mat-select
                    (selectionChange)="selectedEstado($event.value)"
                        [formControlName]="'des_estado_requisito'">
                        <ng-container>
                            <mat-option [value]="'ESTADO'" disabled>
                                Seleccionar estado...
                            </mat-option>
                        </ng-container>
                        <ng-container>
                            <mat-option [value]="'PENDIENTE'">
                                PENDIENTE
                            </mat-option>
                            <mat-option [value]="'APROBADO'">
                                APROBADO
                            </mat-option>
                            <mat-option [value]="'RECHAZADO'">
                                RECHAZADO
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    </mat-form-field>
                    <mat-form-field class="sm:col-span-6 col-span-6 ml-3 h-9 mb-15" *ngIf="data.des_estado_requisito === 'RECHAZADO'">
                        <mat-label>Descripción del porqué del rechazo</mat-label>
                        <textarea
                            matInput
                            [formControlName]="'comentario'"
                            [placeholder]="'Comentario'"
                            [rows]="3"
                            matTextareaAutosize
                            [matAutosizeMinRows]="1">
                        </textarea>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
    <form id="requisitoForm" autocomplete="off" [formGroup]="requisitoForm" *ngIf="data.lectura">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Validación
                    </mat-panel-title>
                    <mat-panel-description>Realizar validación del certificado
                    </mat-panel-description>
                </mat-expansion-panel-header>

            <div class="grid grid-cols-6 gap-y-6 mb-3">
                <mat-form-field
                    class="sm:col-span-6 col-span-6 ml-3 h-9 mb-3"
                    appearance="outline"
                >
                <mat-label>ESTADO REQUISITO</mat-label>
                <mat-select
                    [formControlName]="'des_estado_requisito'">
                    <ng-container>
                        <mat-option [value]="'ESTADO'" disabled>
                            Seleccionar estado...
                        </mat-option>
                    </ng-container>
                    <ng-container>
                        <mat-option [value]="'PENDIENTE'" disabled>
                            PENDIENTE
                        </mat-option>
                        <mat-option [value]="'APROBADO'" disabled>
                            APROBADO
                        </mat-option>
                        <mat-option [value]="'RECHAZADO'" disabled>
                            RECHAZADO
                        </mat-option>
                    </ng-container>
                </mat-select>
                </mat-form-field>
                <mat-form-field class="sm:col-span-6 col-span-6 ml-3 h-9 mb-15" *ngIf="data.des_estado_requisito === 'RECHAZADO'">
                    <mat-label>Descripción del porqué del rechazo</mat-label>
                    <textarea
                        matInput readonly
                        [formControlName]="'comentario'"
                        [placeholder]="'Comentario'"
                        [rows]="3"
                        matTextareaAutosize
                        [matAutosizeMinRows]="1">
                    </textarea>
                </mat-form-field>
            </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>
<div mat-dialog-actions class="flex justify-end">
    <button
        mat-button
        mat-dialog-close
        class="bg-red-600 hover:bg-red-700 text-white"
    >
        Cerrar
    </button>
    <button
    *ngIf="!data.lectura"
        mat-button
        class="rounded-full bg-blue-900 hover:bg-blue-800 text-white"
        cmat-button
        [mat-dialog-close]="requisitoForm"
        cdkFocusInitial
    >
        Guardar
    </button>
</div>
