<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">Reporte de elaboración de carpeta</div>
            <div class="ml-0.5 font-medium text-secondary">
                <ng-container *ngIf="reportesCount > 0">
                    {{reportesCount}}
                </ng-container>
                {{reportesCount | i18nPlural: {
                    '=0'   : 'No hay tramites',
                    '=1'   : 'Trámite',
                    'other': 'Tramites'
                } }}
            </div>
        </div>
        <!-- Actions -->
        <form 
            [formGroup]="selectedReporteForm"
            class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field 
                *ngxPermissionsExcept="['SECRETARIA(O) DE ESCUELA', 'SECRETARIA(O) DE SEGUNDA ESPECIALIDAD']"
                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-48">
                <mat-select
                    [formControlName]="'idUnidad'"
                    (selectionChange)="changedUnidad($event.value)">
                    <ng-container>
                        <mat-option [value]="0">Todas las unidades</mat-option>
                        <mat-option *ngFor="let unidad of unidades" [value]="unidad.idUnidad">{{unidad.descripcion}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <ng-container *ngxPermissionsExcept="['SECRETARIA(O) DE ESCUELA', 'SECRETARIA(O) DE SEGUNDA ESPECIALIDAD']">
                <mat-form-field 
                    *ngIf="selectedReporteForm.get('idUnidad').value"
                    class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-56">
                    <mat-select
                        [formControlName]="'idDependencia'"
                        (selectionChange)="changedDependencia($event.value)">
                        <ng-container>
                            <mat-option [value]="0">Todas las dependencias</mat-option>
                            <mat-option *ngFor="let dependencia of dependencias" [value]="dependencia.idDependencia">{{dependencia.nombre}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container *ngxPermissionsExcept="['SECRETARIA(O) DE ESCUELA']">
                <mat-form-field 
                    *ngIf="selectedReporteForm.get('idDependencia').value"
                    class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                    <mat-select
                        [formControlName]="'idDependencia_detalle'"
                        (selectionChange)="changedDependencia_detalle()">
                            <mat-option [value]="0">Todas las sub dependencias</mat-option>
                            <mat-option *ngFor="let dependencia_detalle of dependencias_detalle" [value]="dependencia_detalle.idDependencia_detalle">{{dependencia_detalle.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <mat-form-field 
                *ngIf="selectedReporteForm.get('idUnidad').value"
                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-50">
                <mat-select
                    [formControlName]="'idTipo_tramite_unidad'"
                    (selectionChange)="changedDependencia_detalle()">
                    <ng-container>
                        <mat-option [value]="0">Todos los tipos de tramites</mat-option>
                        <mat-option *ngFor="let tipo_tramite_unidad of tipoTramiteUnidades" [value]="tipo_tramite_unidad.idTipo_tramite_unidad">{{tipo_tramite_unidad.descripcion}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field 
                *ngIf="selectedReporteForm.get('idDependencia').value"
                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-50">
                <mat-select
                    [formControlName]="'cronograma'"
                    (selectionChange)="changedDependencia_detalle()">
                    <ng-container>
                        <mat-option [value]="0">Todos las colaciones disponibles</mat-option>
                        <mat-option *ngFor="let cronograma of cronogramas" [value]="cronograma.fecha_colacion">{{cronograma.fecha_colacion}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <!-- Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-50">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar reportes'">
            </mat-form-field> -->
        </form>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Vouchers list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(reportes$ | async) as reportes" >
                <ng-container *ngIf="reportes.length > 0; else noVouchers">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="reportes-validados-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>

                            <!-- Nro. -->
                            <div>#</div>

                            <!-- Nro. Trámite -->
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'codigo'">
                                Nro. Trámite
                            </div>

                            <!-- Solicitante-->
                            <div
                                [mat-sort-header]="'solicitante'">
                                Solicitante
                            </div>

                            <!-- Trámite-->
                            <div
                                class="hidden md:block md: w-40"
                                [mat-sort-header]="'tramite'">
                                Trámite
                            </div>

                            <!-- Nro Matrícula -->
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'nro_matricula'">
                                N° Matrícula
                            </div>

                            <!-- Fecha-->
                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'fecha'">
                                Fecha
                            </div>

                            <div
                                class="hidden lg:block"
                                [mat-sort-header]="'estado'">
                                Estado actual
                            </div>

                           
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(reportes$ | async) as reportes">
                            <ng-container *ngFor="let reporte of reportes; trackBy: trackByFn let id=index">
                                <div class="reportes-validados-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Nro. Trámite -->
                                    <div >
                                        {{id+1}}
                                    </div>

                                    <!-- Active -->
                                    <div class="hidden sm:block">
                                        {{reporte.codigo}}
                                    </div>

                                    <!-- Solicitante -->
                                    <div class="truncate">
                                        {{reporte.solicitante}}
                                    </div>

                                    <!-- Trámite -->
                                    <div  class="hidden md:block truncate">
                                        {{reporte.tramite}}
                                    </div>

                                    <!-- Active -->
                                    <div class="hidden lg:block">
                                        {{reporte.nro_matricula}}
                                    </div>

                                    <!-- Stock -->
                                    <div class="hidden lg:block">
                                        {{reporte.fecha}}
                                    </div>

                                    <div class="hidden lg:block">
                                        {{reporte.estado}}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #noVouchers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">¡No hay reportes en validación de URA!</div>
            </ng-template>

        </div>

    </div>

</div>
