<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Cronogramas disponibles</div>
        <button
            mat-icon-button
            (click)="discard()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Recent transactions table -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="p-6">
            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">{{this.cronogramasDataSource.data.length}} disponible(s), {{this.selectedCronogramas.length}} seleccionado(s)</div>
        </div>
        <div class="overflow-x-auto mx-6">
            <table
                class="w-full bg-transparent"
                mat-table
                matSort
                [dataSource]="cronogramasDataSource"
                [trackBy]="trackByFn"
                #cronogramasTable>

                <!-- Checkbox -->
                <ng-container matColumnDef="checkbox">
                    <th
                        mat-header-cell
                        *matHeaderCellDef>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let cronograma">
                        <mat-checkbox
                            class="flex items-center h-10 min-h-10 px-4"
                            [color]="'primary'"
                            [checked]="selectedCronogramas.includes(cronograma.idCronograma_carpeta)"
                            (change)="toggleCronograma(cronograma, $event)">
                            
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Unidad -->
                <ng-container matColumnDef="unidad">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Unidad
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let cronograma">
                        <span class="pr-6">
                            {{cronograma.unidad}}
                        </span>
                    </td>
                </ng-container>

                <!-- Dependencia -->
                <ng-container matColumnDef="dependencia">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Dependencia
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let cronograma">
                        <span class="pr-6">
                            {{cronograma.dependencia}}
                        </span>
                    </td>
                </ng-container>

                <!-- Fecha de Colación -->
                <ng-container matColumnDef="fecha_colacion">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Fecha de Colación
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let cronograma">
                        <span class="pr-6">
                            {{cronograma.fecha_colacion | date:'MMM dd, y'}}
                        </span>
                    </td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="cronogramasTableColumns"></tr>
                <tr
                    class="order-row h-16"
                    mat-row
                    *matRowDef="let row; columns: cronogramasTableColumns;"></tr>
            </table>
        </div>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
                <!-- Attach file -->
                <!-- <button mat-icon-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
                </button> -->
                <!-- Insert link -->
                <!-- <button mat-icon-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:link'"></mat-icon>
                </button> -->
                <!-- Insert emoji -->
                <!-- <button mat-icon-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
                </button> -->
                <!-- Insert image -->
                <!-- <button mat-icon-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                </button> -->
            </div>
    
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto sm:ml-0"
                    mat-stroked-button
                    (click)="discard()">
                    Cancelar
                </button>
                <!-- Save as draft -->
                <!-- <button
                    class="sm:mx-3"
                    mat-stroked-button
                    (click)="saveAsDraft()">
                    <span>Save as draft</span>
                </button> -->
                <!-- Send -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="send()">
                    Enviar
                </button>
            </div>
        </div>
    </div>


</div>
