<div
    mat-dialog-title
    class="text text-white text-2x1 text-center justify-center flex flex-col -mx-6 -mt-6 py-4 bg-blue-900"
>
    <span class="mx-3">{{this.data.solicitante}}</span>
</div>

<!-- Service form -->
<form
    class="flex-col flex-auto p-4 sm:p-6" 
    [formGroup]="historialForm">
    <div class="flex flex-col w-full">

        <div class="overflow-x-auto overflow-y-auto mx-6">
            <table
                class="w-full bg-transparent"
                mat-table
                matSort
                [dataSource]="historialesDataSource"
                [trackBy]="trackByFn"
                #historialsTable>

                <!------------------------------- Codigo Diploma ANTERIOR ------------------------------------->
                <ng-container matColumnDef="codigo_diploma_before">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Cod. Diploma ANTERIOR 
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let historial">
                        <span class="pr-6 mr-4">
                            {{historial.codigo_diploma_before}}
                        </span>
                    </td>
                    <td
                        mat-footer-cell
                        *matFooterCellDef>
                        <mat-form-field class="fuse-mat-dense min-w-52 mt-4 pr-4" subscriptSizing="dynamic">
                            <input
                                matInput
                                [formControlName]="'codigo_diploma_before'"
                                [placeholder]="'Código de diploma Anterior'">
                        </mat-form-field>
                    </td>
                    
                </ng-container>


                <!------------------------------------- Codigo Diploma NUEVO ------------------------------------------------>
                <ng-container matColumnDef="codigo_diploma_after">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Cod. Diploma NUEVO
                    </th>
                    <td
                        mat-cell          
                        *matCellDef="let historial; let i = index">

                        <ng-container class="pr-6 mr-4" *ngIf="i!=historialesDataSource.data.length-1">
                            {{historial.codigo_diploma_after}}
                        </ng-container>
    
                        <ng-container class="pr-6 mr-4" *ngIf="i==historialesDataSource.data.length-1 && !isUltimoRegistroEditable">
                            {{historial.codigo_diploma_after}}
                        </ng-container>
    
                        <ng-container  *ngIf="isUltimoRegistroEditable && i==historialesDataSource.data.length-1">
                            <input [formControlName]="'ultimo_codigo_diploma_after'" class="editable">
                        </ng-container>

                    </td>
                    <td
                        mat-footer-cell
                        *matFooterCellDef>
                        <!-- <mat-form-field class="sm:col-span-2 col-span-6 form-input" style="margin-bottom: inherit;"> -->
                        <mat-form-field class="fuse-mat-dense min-w-52 mt-4 pr-4" subscriptSizing="dynamic">
                            <input
                
                                matInput
                                [formControlName]="'codigo_diploma_after'"
                                [placeholder]="'Código de diploma Nuevo'">
                        </mat-form-field>
                    </td>
                </ng-container>



                <!--------------------------------------- Descripción Anulación ------------------------------------------------->
                <ng-container matColumnDef="descripcion">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Descripción
                    </th>

                    <td 
                    mat-cell
                    *matCellDef="let historial; let i = index">

                    <ng-container class="pr-6 mr-4" *ngIf="i!=historialesDataSource.data.length-1">
                        {{historial.descripcion}}
                    </ng-container>

                    <ng-container class="pr-6 mr-4" *ngIf="i==historialesDataSource.data.length-1 && (!isUltimoRegistroEditable || historialesDataSource.data.length == 1)">
                        {{historial.descripcion}}
                    </ng-container>

                    <ng-container  *ngIf="i==historialesDataSource.data.length-1 && isUltimoRegistroEditable && historialesDataSource.data.length != 1">
                        <input  [formControlName]="'ultimo_descripcion'" class="editable">
                    </ng-container>


                    </td>


                    <td
                        mat-footer-cell
                        *matFooterCellDef>
                        <!-- <mat-form-field class="sm:col-span-2 col-span-6 form-input" style="margin-bottom: inherit;"> -->
                        <mat-form-field class="fuse-mat-dense min-w-52 mt-4 pr-4" subscriptSizing="dynamic">
                            <input
                                
                                matInput
                                [formControlName]="'descripcion'"
                                [placeholder]="'Descripción'">
                        </mat-form-field>
                    </td>
                </ng-container>


                <!-------------------------------------------------- Fecha ------------------------------------------------------->
                <ng-container matColumnDef="fecha_historial">
                    <th
                        mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef>
                        Fecha
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let historial">
                        <span class="pr-6 mr-4">
                            {{historial.fecha_historial | date:'MMM dd, y'}}
                        </span>
                    </td>
                    <td
                        mat-footer-cell
                        *matFooterCellDef>
                        {{historialForm.get('fecha_historial').value | date:'MMM dd, y'}}
                    </td>
                </ng-container>



                 <!---------------------------------------- FOOTER ------------------------------------->
                <tr
                    mat-header-row
                    *matHeaderRowDef="historialesTableColumns"></tr>
                <tr
                    class="order-row h-16"
                    mat-row
                    *matRowDef="let row; columns: historialesTableColumns;"></tr>
                <tr 
                    [hidden]="isUltimoRegistroEditable"
                    mat-footer-row
                    *matFooterRowDef="historialesTableColumns"></tr>
            </table>
        </div>
    </div>

    <div mat-dialog-actions class="flex mt-3">
        
        <!-- EDIT ULTIMO REGISTRO BUTTONS -->
        <button
            mat-button
            cmat-button
            class="bg-amber-500 hover:bg-amber-600 text-white pl-4 pr-4 ml-5 mr-auto"
            *ngIf="!isUltimoRegistroEditable"
            (click)="editUltimoRegistro()"
        >
            Editar Último
        </button>

        <button
            mat-button
            cmat-button
            class="bg-lime-500 hover:bg-lime-600 text-white pl-4 pr-4 ml-5 mr-auto"
            *ngIf="isUltimoRegistroEditable"
            (click)="backAgregarCodigo()"
        >
            Agregar Nuevo
        </button>



          <!-- NORMAL BUTTONS -->
        <button
         
            mat-button
            mat-dialog-close
            class="bg-red-600 hover:bg-red-700 text-white pl-10 pr-10"
        >
            Cerrar
        </button>

      
        <button 
           
            mat-button
            class="rounded-full bg-primary-600 hover:bg-primary-500 text-white mr-7"
            cmat-button
            (click)="save()"
        >
            Guardar Código
        </button>

        


    </div>
</form>

<!-- ¿Desea aplicar los cambios a todos los trámites siguientes?      -->
   <!-- <div class="grid grid-cols-6 gap-y-6 mb-6"> -->
       <!-- <div
               class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
               (click)="toggleChecking($event)"
               matRipple>
               <mat-checkbox
                   class="flex items-center h-10 min-h-10 pointer-events-none"
                   [checked]="gradoForm.get('apply').value"
                   [color]="'primary'"
                   [disableRipple]="true">
               </mat-checkbox>
               <div class="ml-1 w-100">Aplicar a los siguientes trámites</div>
           </div> -->
<!-- </div> -->