<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Cronogramas</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="cronogramasCount > 0">
                                {{cronogramasCount}}
                            </ng-container>
                            {{cronogramasCount | i18nPlural: {
                            '=0'   : 'Sin cronogramas',
                            '=1'   : 'cronograma',
                            'other': 'cronogramas'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Buscar cronogramas'">
                            </mat-form-field>
                        </div>
                        <!-- Add cronograma button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createCronograma()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Nuevo</span>
                        </button>
                    </div>
                </div>

                <!-- Cronogramas list -->
                <div class="relative">
                    <ng-container *ngIf="cronogramas$ | async as cronogramas">
                        <ng-container *ngIf="cronogramas.length; else noCronogramas">
                            <ng-container *ngFor="let cronograma of cronogramas; let i = index; trackBy: trackByFn">
                                <!-- Group -->
                                <ng-container *ngIf="i === 0 || cronograma.idDependencia !== cronogramas[i - 1].idDependencia">
                                    <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                        {{cronograma.dependencia}}
                                    </div>
                                </ng-container>
                                <!-- Cronograma -->
                                <a
                                    class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedCronograma || selectedCronograma.idUsuario !== cronograma.idUsuario,
                                                'bg-primary-50 dark:bg-hover': selectedCronograma && selectedCronograma.idUsuario === cronograma.idUsuario}"
                                    [routerLink]="['./', cronograma.idCronograma_carpeta]">
                                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                        <ng-container *ngIf="cronograma.avatar">
                                            <img
                                                class="object-cover w-full h-full"
                                                [src]="cronograma.avatar"
                                                alt="Cronograma avatar"/>
                                        </ng-container>
                                        <ng-container *ngIf="!cronograma.avatar">
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{i + 1}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">Fecha de colación: {{cronograma.fecha_colacion}}</div>
                                        <div class="leading-5 truncate text-secondary">
                                            {{cronograma.tramite}}
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">{{cronograma.unidad}}</span>
                                        </div>
                                    </div>
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No cronogramas -->
                    <ng-template #noCronogramas>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">¡No hay usuarios!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
