<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            <mat-icon [svgIcon]="'heroicons_solid:chart-pie'"></mat-icon> Indicadores
                        </div>
                        <div class="flex items-center">
                            <div class="leading-6 truncate text-secondary">Indicadores según el Sistema de Gestión de Calidad de la UNT</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Indicador selector -->
            <div
                class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple
                [matMenuTriggerFor]="indicadoresMenu">
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">{{selectedIndicador}}</div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                    </div>
                </div>
                <mat-menu
                    #indicadoresMenu="matMenu"
                    [xPosition]="'before'">
                    <button
                        mat-menu-item
                        (click)="selectedIndicador='Certificados'">Certificados
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedIndicador='Grados'">Grados
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedIndicador='Títulos'">Títulos
                    </button>
                    <!-- <button
                        mat-menu-item
                        (click)="selectedIndicador='Matrículas'">Matrículas
                    </button> -->
                </mat-menu>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div *ngIf="selectedIndicador=='Certificados'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <!-- Indicador 1 -->
                <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Certificados digitales emitidos dentro del plazo. Plazo máximo: 5 días hábiles</div>
                        <div class="mt-3 sm:mt-0 sm:ml-2">
                            <mat-button-toggle-group
                                value="trimestre-4"
                                #certificadosInd1RangeSelector="matButtonToggleGroup">
                                <mat-button-toggle value="trimestre-1">1er Trimestre</mat-button-toggle>
                                <mat-button-toggle value="trimestre-2">2do Trimestre</mat-button-toggle>
                                <mat-button-toggle value="trimestre-3">3er Trimestre</mat-button-toggle>
                                <mat-button-toggle value="trimestre-4">4to Trimestre</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                        <!-- Solicitados vs. terminados -->
                        <div class="flex flex-col flex-auto">
                            <div class="font-medium text-secondary">Solicitados vs. terminados dentro del plazo</div>
                            <div class="flex flex-col flex-auto">
                                <apx-chart
                                    class="flex-auto w-full h-80"
                                    [chart]="chartCertificadosInd1.chart"
                                    [colors]="chartCertificadosInd1.colors"
                                    [dataLabels]="chartCertificadosInd1.dataLabels"
                                    [grid]="chartCertificadosInd1.grid"
                                    [labels]="chartCertificadosInd1.labels[certificadosInd1RangeSelector.value]"
                                    [legend]="chartCertificadosInd1.legend"
                                    [plotOptions]="chartCertificadosInd1.plotOptions"
                                    [series]="chartCertificadosInd1.series[certificadosInd1RangeSelector.value]"
                                    [states]="chartCertificadosInd1.states"
                                    [stroke]="chartCertificadosInd1.stroke"
                                    [tooltip]="chartCertificadosInd1.tooltip"
                                    [xaxis]="chartCertificadosInd1.xaxis"
                                    [yaxis]="chartCertificadosInd1.yaxis"></apx-chart>
                            </div>
                        </div>
                        <!-- Descripción general -->
                        <div class="flex flex-col">
                            <div class="font-medium text-secondary">Descripción general</div>
                            <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                                <!-- Certificados solicitados -->
                                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['certificados']}}
                                    </div>
                                    <div class="mt-1 text-sm sm:text-lg font-medium">Certificados solicitados</div>
                                </div>
                                <!-- Certificados cerrados dentro del plazo -->
                                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['certificados-dentro']}}
                                    </div>
                                    <div class="mt-1 text-sm sm:text-lg font-medium">Certificados terminados dentro del plazo</div>
                                </div>
                                <!-- Indicador -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['indicador']}}%
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Indicador</div>
                                </div>
                                <!-- Terminados -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['terminados']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Terminados</div>
                                </div>
                                <!-- Pendientes -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-yellow-50 text-yellow-800 dark:bg-white dark:bg-opacity-5 dark:text-yellow-500">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['pendientes']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Pendientes</div>
                                </div>
                                <!-- Observados -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-red-50 text-red-800 dark:bg-white dark:bg-opacity-5 dark:text-red-500">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['observados']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Observados</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Indicador 2 -->
                <div *ngIf="false" class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Certificados físicos emitidos después del plazo. Plazo máximo: 15 días hábiles</div>
                        <div class="mt-3 sm:mt-0 sm:ml-2">
                            <mat-button-toggle-group
                                value="primer-trimestre"
                                #certificadosInd1RangeSelector="matButtonToggleGroup">
                                <mat-button-toggle value="primer-trimestre">1er Trimestre</mat-button-toggle>
                                <mat-button-toggle value="segundo-trimestre">2do Trimestre</mat-button-toggle>
                                <mat-button-toggle value="tercer-trimestre">3er Trimestre</mat-button-toggle>
                                <mat-button-toggle value="cuarto-trimestre">4to Trimestre</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                        <!-- New vs. Closed -->
                        <div class="flex flex-col flex-auto">
                            <div class="font-medium text-secondary">New vs. Closed</div>
                            <div class="flex flex-col flex-auto">
                                <apx-chart
                                    class="flex-auto w-full h-80"
                                    [chart]="chartCertificadosInd1.chart"
                                    [colors]="chartCertificadosInd1.colors"
                                    [dataLabels]="chartCertificadosInd1.dataLabels"
                                    [grid]="chartCertificadosInd1.grid"
                                    [labels]="chartCertificadosInd1.labels"
                                    [legend]="chartCertificadosInd1.legend"
                                    [plotOptions]="chartCertificadosInd1.plotOptions"
                                    [series]="chartCertificadosInd1.series[certificadosInd1RangeSelector.value]"
                                    [states]="chartCertificadosInd1.states"
                                    [stroke]="chartCertificadosInd1.stroke"
                                    [tooltip]="chartCertificadosInd1.tooltip"
                                    [xaxis]="chartCertificadosInd1.xaxis"
                                    [yaxis]="chartCertificadosInd1.yaxis"></apx-chart>
                            </div>
                        </div>
                        <!-- Overview -->
                        <div class="flex flex-col">
                            <div class="font-medium text-secondary">Overview</div>
                            <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                                <!-- New issues -->
                                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['certificados']}}
                                    </div>
                                    <div class="mt-1 text-sm sm:text-lg font-medium">New Issues</div>
                                </div>
                                <!-- Closed -->
                                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                    <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['certificados-dentro']}}
                                    </div>
                                    <div class="mt-1 text-sm sm:text-lg font-medium">Closed</div>
                                </div>
                                <!-- Fixed -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['indicador']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Fixed</div>
                                </div>
                                <!-- Won't fix -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['terminados']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Won't Fix</div>
                                </div>
                                <!-- Re-opened -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['pendientes']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Re-opened</div>
                                </div>
                                <!-- Needs triage -->
                                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                    <div class="text-5xl font-semibold leading-none tracking-tight">
                                        {{data.certificadosIndicador1.overview[certificadosInd1RangeSelector.value]['observados']}}
                                    </div>
                                    <div class="mt-1 text-sm font-medium text-center">Needs Triage</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedIndicador=='Grados'" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <!-- Indicador 1 -->
                <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Cantidad de estudiantes que terminaron los estudios de pregrado por promoción o cohorte.</div>
                        <div class="mt-3 sm:mt-0 sm:ml-2">
                            <mat-button-toggle-group
                                value="2018"
                                #gradosInd1RangeSelector="matButtonToggleGroup">
                                <mat-button-toggle value="2016" >Ingresantes 2016</mat-button-toggle>
                                <mat-button-toggle value="2017" >Ingresantes 2017</mat-button-toggle>
                                <mat-button-toggle value="2018" >Ingresantes 2018</mat-button-toggle>
                                <mat-button-toggle value="2018" >Ingresantes 2019</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div class="flex-auto grid grid-cols-1 gap-4 mt-6">
                        <div class="flex flex-col flex-auto">
                            <div class="font-medium text-secondary">Ingresantes vs Egresados</div>
                            <div class="flex flex-col flex-auto">
                                <apx-chart
                                    class="flex-auto w-full h-80"
                                    [chart]="chartGradosInd1_1.chart"
                                    [colors]="chartGradosInd1_1.colors"
                                    [dataLabels]="chartGradosInd1_1.dataLabels"
                                    [grid]="chartGradosInd1_1.grid"
                                    [labels]="chartGradosInd1_1.labels"
                                    [legend]="chartGradosInd1_1.legend"
                                    [plotOptions]="chartGradosInd1_1.plotOptions"
                                    [series]="chartGradosInd1_1.series[gradosInd1RangeSelector.value]"
                                    [states]="chartGradosInd1_1.states"
                                    [stroke]="chartGradosInd1_1.stroke"
                                    [tooltip]="chartGradosInd1_1.tooltip"
                                    [xaxis]="chartGradosInd1_1.xaxis"
                                    [yaxis]="chartGradosInd1_1.yaxis"></apx-chart>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 border-t divide-x -m-6 mt-4 bg-gray-50 dark:bg-transparent">
                        <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">
                                {{data.gradosIndicador1.overview[gradosInd1RangeSelector.value].ingresantes}}
                            </div>
                            <div class="mt-1 text-center text-secondary">Ingresantes</div>
                        </div>
                        <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">
                                {{data.gradosIndicador1.overview[gradosInd1RangeSelector.value].egresados}}
                            </div>
                            <div class="mt-1 text-center text-secondary">Egresados</div>
                        </div>
                        <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">
                                {{data.gradosIndicador1.overview[gradosInd1RangeSelector.value].indicador}}%
                            </div>
                            <div class="mt-1 text-center text-secondary">Indicador</div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>

</div>
