<div class="flex flex-col flex-auto min-w-0 m-4">
    <mat-card class="w-full">
        <div class="flex flex-col mx-5">
            <mat-card-title class="mb-3 my-3 md:text-2xl lg:text-3xl text-xl font-bold tracking-wider text-blue-900">
                CODIGO TRÁMITE: {{titulo.codigo}}
            </mat-card-title>
            <mat-card-content>
                <!-- Section -->
                <!-- <div class="w-full">
                    <div class="text-xl">Datos del trámite</div>
                </div> -->
                <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
  
                    <!-- SOLICITANTE -->
                    <div class="sm:col-span-2">
                        <div class="text-secondary"><b>SOLICITANTE:</b> {{titulo.solicitante}}</div>
                    </div>
                    <!-- NUMERO DE DOCUMENTO -->
                    <div class="sm:col-span-2">
                        <div class="text-secondary"><b>NÚMERO DE DOCUMENTO:</b> {{titulo.nro_documento}}</div>
                    </div>
                    <!-- ESCUELA -->
                    <div class="sm:col-span-2">
                        <div class="text-secondary"><b>ESCUELA:</b> {{titulo.escuela}}</div>
                    </div>
                    <!-- FECHA DE REGISTRO -->
                    <div class="sm:col-span-2">
                        <div class="text-secondary"><b>FECHA DE REGISTRO:</b> {{titulo.fecha | date: 'dd-MM-yyyy'}}</div>
                    </div>
                    <!-- TRÁMITE -->
                    <div class="sm:col-span-2">
                        <div class="text-secondary"><b>TRÁMITE:</b> {{titulo.tramite}}</div>
                    </div>
                    <!-- NRO DE MATRÍCULA -->
                    <div class="sm:col-span-2">
                          <div class="text-secondary"><b>NRO DE MATRÍCULA:</b> {{titulo.nro_matricula}}</div>
                    </div>
  
                </div>
                
                <!-- Divider -->
                <!-- <div class="my-10 border-t"></div> -->

                <!-- Section -->
                <mat-card class="mt-6" style="border-width: 0.5px;border-radius: 6px;border-color: #12084b;">
                    <mat-card-content>
                        <div class="w-full">
                            <div class="text-xl">VALIDAR REQUISITOS</div>
                        </div>
                        <div class="z-10 sticky top-0 grid grid-cols-12 gap-y-6 py-3 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div class="col-span-1">
                                N°
                            </div>
                            <div class="col-span-5">
                                REQUISITO
                            </div>
                            <div class="col-span-4 text-center">
                                DOCUMENTO
                            </div>
                            <div class="col-span-2 text-center">
                                OPCIONES
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-y-6 items-center py-2 px-6 md:px-8 border-b">
                            <div class="col-span-1">1</div>
                            <div class="col-span-5">FUT</div>
                            <div class="col-span-4 text-center">
                                <a
                                    mat-button
                                    class="min-w-10 min-h-7 h-7 px-2 rounded-full bg-amber-600 hover:bg-amber-500 text-white"
                                    cmat-button
                                    [href]="titulo.fut"
                                    [target]="'_blank'">
                                    <mat-icon
                                        class="icon-size-5"
                                        style="color: white;"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <span class="hidden sm:block ml-2">FUT</span>
                                </a>
                            </div>
                            <div class="col-span-2 text-center">
                                <button
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                    mat-stroked-button
                                    matTooltip="NINGUNO"
                                    disabled>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 gap-y-6 items-center py-2 px-6 md:px-8 border-b">
                            <div class="col-span-1">2</div>
                            <div class="col-span-5">VOUCHER DE PAGO / RESOLUCIÓN DE EXONERACIÓN</div>
                            <div class="col-span-4 text-center">
                                <a
                                    *ngIf="titulo.voucher"
                                    mat-button
                                    class="min-w-10 min-h-7 h-7 px-2 rounded-full bg-sky-500 ml-1 mr-1 hover:bg-sky-400 text-white"
                                    cmat-button
                                    [href]="titulo.voucher"
                                    [target]="'_blank'">
                                    <mat-icon
                                        class="icon-size-5"
                                        style="color: white;"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <span class="hidden sm:block ml-2">VOUCHER</span>
                                </a>
                                <a
                                    *ngIf="titulo.exonerado_archivo"
                                    mat-button
                                    class="min-w-10 min-h-7 h-7 px-2 rounded-full bg-sky-500 ml-1 mr-1 hover:bg-sky-400 text-white"
                                    cmat-button
                                    [href]="titulo.exonerado_archivo"
                                    [target]="'_blank'">
                                    <mat-icon
                                        class="icon-size-5"
                                        style="color: white;"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <span class="hidden sm:block ml-2">RESOLUCIÓN</span>
                                </a>
                            </div>
                            <div class="col-span-2 text-center">
                                <button
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                    mat-stroked-button
                                    matTooltip="NINGUNO"
                                    disabled>
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <ng-container *ngFor="let requisito of titulo.requisitos; let id = index">
                            <div class="grid grid-cols-12 gap-y-6 items-center py-2 px-6 md:px-8 border-b" *ngIf="requisito.responsable == 4 || requisito.responsable == 5">
                                <div class="col-span-1">{{id+3}}</div>
                                <div class="col-span-5">{{requisito.nombre}}</div>
                                <div class="col-span-4 text-center">
                                    <a
                                        mat-button
                                        class="min-w-10 min-h-7 h-7 px-2 rounded-full bg-lime-500 hover:bg-lime-400 text-white"
                                        cmat-button
                                        [href]="requisito.archivo"
                                        [target]="'_blank'">
                                        <mat-icon
                                            class="icon-size-5"
                                            style="color: white;"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                        <span class="hidden sm:block ml-2">VER</span>
                                    </a>
                                </div>
                                <div class="col-span-2 text-center">
                                    {{ requisito.des_estado_requisito }} - <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        mat-stroked-button
                                        matTooltip="Editar detalle"
                                        (click)="validarRequisito(requisito, false, id)">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
                
            </mat-card-content>
            <mat-card-actions class="flex justify-end">
                <button
                    mat-button
                    class="rounded-full bg-blue-900 hover:bg-blue-800 text-white"
                    cmat-button
                    [routerLink]="['/titulos/facultad/validados']"
                    >
                    Regresar
                </button>
                <button
                    *ngIf="titulo.idEstado_tramite==20"
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="tituloForm.disabled"
                    (click)="updateRequisitos()">
                    <span *ngIf="!tituloForm.disabled">
                        Guardar
                    </span>
                    <mat-progress-spinner
                        *ngIf="tituloForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
