<div class="flex flex-col flex-auto min-w-0 m-4">

    <mat-card class="w-full">
        <div class="flex flex-col mx-5">
            <mat-card-title class="mb-3 my-3 md:text-2xl lg:text-3xl text-xl font-bold tracking-wider text-blue-900">
                DETALLE DEL TRÁMITE
            </mat-card-title>
            <mat-card-content>
                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Datos del trámite</div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Trámite -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Trámite:</b> {{tramite.tipo_tramite}}</div>
                        </div>

                        <!-- Tipo de trámite -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Tipo de trámite:</b> {{tramite.tipo_tramite_unidad}}</div>
                        </div>

                        <!-- Unidad -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Unidad:</b> {{tramite.unidad}}</div>
                        </div>

                        <!-- Dependencia -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary" *ngIf="tramite.idUnidad === 1"><b>Facultad:</b> {{tramite.facultad}}</div>
                            <div class="text-secondary" *ngIf="tramite.idUnidad === 4"><b>Especialidad:</b> {{tramite.facultad}}</div>
                        </div>

                        <!-- Sub dependencia -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary" *ngIf="tramite.idUnidad === 1"><b>Escuela:</b> {{tramite.escuela}}</div>
                            <div class="text-secondary" *ngIf="tramite.idUnidad === 4"><b>Mención:</b> {{tramite.escuela}}</div>
                            <!-- <div class="text-secondary"><b>Escuela:</b> {{tramite.escuela}}</div> -->
                        </div>

                        <!-- Sede -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Sede:</b> {{tramite.sede}}</div>
                        </div>

                        <!-- Número de matrícula -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Número de matrícula:</b> {{tramite.nro_matricula}}</div>
                        </div>

                        <!-- Comentario -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary" *ngIf="tramite.comentario_tramite"><b>Comentarios:</b> {{tramite.comentario_tramite}}</div>
                        </div>

                    </div>

                    <!-- Divider -->
                    <div class="my-10 border-t"></div>

                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Datos del pago</div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Tipo de trámite -->
                        <div class="sm:col-span-1">
                            <div class="text-secondary"><b>Entidad:</b> {{tramite.entidad}}</div>
                        </div>

                        <!-- Trámite -->
                        <div class="sm:col-span-1">
                            <div class="text-secondary"><b>N° operación:</b> {{tramite.nro_operacion}}</div>
                        </div>

                        <!-- Unidad -->
                        <div class="sm:col-span-1">
                            <div class="text-secondary"><b>Fecha operación:</b> {{tramite.fecha_operacion}}</div>
                        </div>

                        <!-- Voucher -->
                        <div class="sm:col-span-3">
                            <div class="text-secondary" *ngIf="tramite.des_estado_voucher !== 'RECHAZADO'"><b>Comprobante de pago:</b> {{tramite.des_estado_voucher}}</div>
                            <div class="text-secondary" *ngIf="tramite.des_estado_voucher === 'RECHAZADO'">
                                <b>Comprobante de pago:</b> {{tramite.des_estado_voucher}} - {{tramite.comentario_voucher}}
                                
                            </div>
                        </div>
                        <div class="sm:col-span-1" *ngIf="tramite.des_estado_voucher === 'RECHAZADO'">
                            <button
                                matTooltip="Agregar documento"
                                (click)="fileInput.click()">
                                <mat-icon
                                    class="h-6 w-6 mr-3 ml-3"
                                    style="color: rgb(6, 11, 88)"
                                    [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                            </button>
                            <input #fileInput type="file" accept=".pdf" hidden (change)="selectNewVoucher($event)"/>
                            <a
                                *ngIf="!newVoucher"
                                target="_blank"
                                matTooltip="Editar detalle"
                                [href]="tramite.voucher">
                                <mat-icon
                                    class="h-6 w-6 mr-3 ml-3"
                                    style="color: rgb(6, 11, 88)"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            </a>
                            <button *ngIf="newVoucher"
                                matTooltip="Ver documento"
                                (click)="verDocumento()">
                                <mat-icon
                                    class="h-6 w-6 mr-3 ml-3"
                                    style="color: rgb(6, 11, 88)"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            </button>
                        </div>

                    </div>

                    <!-- Divider -->
                    <div class="my-10 border-t"></div>

                    <!-- Section -->
                    <mat-card class="mt-6" style="border-width: 0.5px;border-radius: 6px;border-color: #12084b;">
                        <mat-card-title><mat-label class="text-base">Requisitos</mat-label></mat-card-title>
                        <mat-card-content>
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngFor="let requisito of tramite.requisitos">
                                <div class="nombre col-span-4 ml-3" *ngIf="requisito.des_estado_requisito !== 'RECHAZADO'">
                                    <b>{{requisito.nombre}}:</b> {{requisito.des_estado_requisito}}
                                </div>
                                <div class="nombre col-span-2 ml-3" *ngIf="requisito.des_estado_requisito === 'RECHAZADO'">
                                    <b>{{requisito.nombre}}:</b> {{requisito.des_estado_requisito}} - {{requisito.comentario}}
                                </div>
                                <div class="nombre col-span-2 ml-3" *ngIf="requisito.des_estado_requisito === 'RECHAZADO'">
                                    <button
                                        matTooltip="Agregar documento"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".pdf" hidden (change)="selectFiles($event)"/>
                                    <button
                                        matTooltip="Ver documento"
                                        (click)="verDocumento()">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="h-6 w-6 mr-3 ml-3"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke="currentColor"
                                            style="cursor: pointer; color: rgb(6, 11, 88)"
                                            stroke-width="2"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                            />
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
            </mat-card-content>
            <mat-card-actions class="flex justify-end">
                <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="tramiteForm.disabled"
                    (click)="updateTramite()">
                    <span *ngIf="!tramiteForm.disabled">
                        Registrar Trámite
                    </span>
                    <mat-progress-spinner
                        *ngIf="tramiteForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
