<div class="flex flex-col flex-auto min-w-0 m-4">

    <mat-card class="w-full">
        <div class="flex flex-col mx-5">
            <mat-card-title class="mb-3 my-3 md:text-2xl lg:text-3xl text-xl font-bold tracking-wider text-blue-900">
                DETALLE DEL TRÁMITE
            </mat-card-title>
            <mat-card-content>
                    <!-- Section -->
                    <div class="w-full">
                        <div class="text-xl">Datos del trámite</div>
                    </div>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <!-- Trámite -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Trámite:</b> {{tramite.tipo_tramite}}</div>
                        </div>

                        <!-- Tipo de trámite -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Tipo de trámite:</b> {{tramite.tramite}}</div>
                        </div>

                        <!-- Unidad -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Unidad:</b> {{tramite.unidad}}</div>
                        </div>

                        <!-- Dependencia -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Dependencia:</b> {{tramite.dependencia}}</div>
                        </div>

                        <!-- Programa -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Programa:</b> {{tramite.programa}}</div>
                        </div>

                        <!-- Sede -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Sede:</b> {{tramite.sede}}</div>
                        </div>

                        <!-- Número de matrícula -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary"><b>Número de matrícula:</b> {{tramite.nro_matricula}}</div>
                        </div>

                        <!-- Comentario -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary" *ngIf="tramite.comentario_tramite"><b>Comentarios:</b> {{tramite.comentario_tramite}}</div>
                        </div>

                        <!-- FUT -->
                        <div class="sm:col-span-2">
                            <div class="text-secondary">
                                <b>Formato Único de Trámite (FUT):</b>
                                <a
                                    mat-button
                                    class="min-w-10 min-h-7 h-7 px-2 rounded-full bg-amber-600 hover:bg-amber-500 text-white ml-6"
                                    cmat-button
                                    [href]="tramite.fut"
                                    [target]="'_blank'">
                                    <mat-icon
                                        class="icon-size-5"
                                        style="color: white;"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <span class="hidden sm:block ml-2">DESCARGAR</span>
                                </a>
                            </div>
                        </div>

                    </div>

                    <!-- Divider -->
                    <div class="my-10 border-t"></div>

                    <!-- Section -->
                    <mat-card class="mt-6" style="border-width: 0.5px;border-radius: 6px;border-color: #12084b;">
                        <mat-card-title><mat-label class="text-base">Datos del Pago</mat-label></mat-card-title>
                        <mat-card-content>
                            <div class="grid sm:grid-cols-4 gap-6 w-full mb-4 ml-2 pt-2" *ngIf="tramite.des_estado_voucher !== 'RECHAZADO'">
                                <!-- Tipo de trámite -->
                                <div class="sm:col-span-1">
                                    <div class="text-secondary"><b>Entidad:</b> {{tramite.entidad}}</div>
                                </div>

                                <!-- Trámite -->
                                <div class="sm:col-span-1">
                                    <div class="text-secondary"><b>N° operación:</b> {{tramite.nro_operacion}}</div>
                                </div>

                                <!-- Unidad -->
                                <div class="sm:col-span-1">
                                    <div class="text-secondary"><b>Fecha operación:</b> {{tramite.fecha_operacion | date:'longDate' }}</div>
                                </div>

                                <!-- Voucher -->
                                <div class="sm:col-span-3">
                                    <div class="text-secondary"><b>Comprobante de pago:</b> {{tramite.des_estado_voucher}}</div>
                                </div>
                            </div>
                            <div class="grid grid-cols-6 gap-y-6 mb-6" *ngIf="tramite.des_estado_voucher === 'RECHAZADO'" [formGroup]="tramiteForm">
                                <!-- Entidad -->
                                <mat-form-field
                                    *ngIf="!tramite.exonerado_archivo || (tramite.exonerado_archivo && tramite.costo_exonerado > 0)"
                                    class="sm:col-span-2 col-span-6 ml-3 h-9 mb-3"
                                    appearance="outline"
                                >
                                    <mat-label>BANCOS</mat-label>
                                    <mat-select
                                        [formControlName]="'entidad'">
                                        <ng-container>
                                            <mat-option [value]="0" disabled>
                                                Seleccionar banco...
                                            </mat-option>
                                        </ng-container>
                                        <ng-container *ngFor="let bank of bancos">
                                            <mat-option [value]="bank.ban_descripcion">
                                                {{bank.ban_descripcion}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                
                                <!-- Fecha operación -->
                                <mat-form-field
                                    class="sm:col-span-2 col-span-6 ml-3 h-9 mb-3"
                                    appearance="outline"
                                >
                                    <mat-label *ngIf="!tramite.exonerado_archivo || (tramite.exonerado_archivo && tramite.costo_exonerado > 0)">FECHA DE OPERACION</mat-label>
                                    <mat-label *ngIf="tramite.exonerado_archivo && tramite.costo_exonerado == 0">FECHA DE LA RESOLUCIÓN DE EXONERACIÓN</mat-label>
                                    <input
                                        matInput
                                        [max]="maxDate"
                                        [matDatepicker]="birthday"
                                        [formControlName]="'fecha_operacion'"
                                        readonly>
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="birthday">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #birthday></mat-datepicker>
                                </mat-form-field>
                                
                                <!-- N° operación -->
                                <mat-form-field
                                    class="sm:col-span-2 col-span-6 ml-3 h-9 mb-3"
                                    appearance="outline"
                                >
                                    <mat-label *ngIf="!tramite.exonerado_archivo || (tramite.exonerado_archivo && tramite.costo_exonerado > 0)">NUMERO DE OPERACION</mat-label>
                                    <mat-label *ngIf="tramite.exonerado_archivo && tramite.costo_exonerado == 0">NUMERO DE RESOLUCIÓN DE EXONERACIÓN</mat-label>
                                    <input
                                            type="text"
                                            matInput
                                            [formControlName]="'nro_operacion'"
                                        />
                                </mat-form-field>
                            </div>
                            <!-- Voucher -->
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngIf="tramite.des_estado_voucher === 'RECHAZADO' && !tramite.exonerado_archivo">
                                <div class="nombre col-span-4 ml-3">
                                    COMPROBANTE DE PAGO
                                </div>
                                <div class="flex flex-row items-center justify-start col-span-2">
                                    <button
                                        matTooltip="Agregar documento"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".pdf" hidden (change)="selectNewVoucher($event)"/>
                                    <a
                                        *ngIf="!tramiteForm.getRawValue().archivoPdf"
                                        target="_blank"
                                        matTooltip="Ver documento"
                                        [href]="tramite.voucher">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </a>
                                    <button *ngIf="tramiteForm.getRawValue().archivoPdf"
                                        matTooltip="Ver documento"
                                        (click)="verDocumento()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngIf="tramite.des_estado_voucher === 'RECHAZADO' && tramite.exonerado_archivo && tramite.costo_exonerado > 0">
                                <div class="nombre col-span-4 ml-3">
                                    COMPROBANTE DE PAGO {{tramite.costo_exonerado}} SOLES
                                </div>
                                <div class="flex flex-row items-center justify-start col-span-2">
                                    <button
                                        matTooltip="Agregar documento"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".pdf" hidden (change)="selectNewVoucher($event)"/>
                                    <a
                                        *ngIf="!tramiteForm.getRawValue().archivoPdf"
                                        target="_blank"
                                        matTooltip="Ver documento"
                                        [href]="tramite.voucher">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </a>
                                    <button *ngIf="tramiteForm.getRawValue().archivoPdf"
                                        matTooltip="Ver documento"
                                        (click)="verDocumento()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngIf="tramite.des_estado_voucher === 'RECHAZADO' && tramite.exonerado_archivo">
                                <div class="nombre col-span-4 ml-3">
                                    RESOLUCIÓN DE EXONERACIÓN
                                </div>
                                <div class="flex flex-row items-center justify-start col-span-2">
                                    <button
                                        matTooltip="Agregar documento"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".pdf" hidden (change)="selectNewExoneracion($event)"/>
                                    <a
                                        *ngIf="!tramiteForm.getRawValue().archivoExonerado"
                                        target="_blank"
                                        matTooltip="Ver documento"
                                        [href]="tramite.exonerado_archivo">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </a>
                                    <button *ngIf="tramiteForm.getRawValue().archivoExonerado"
                                        matTooltip="Ver documento"
                                        (click)="verDocumentoExoneracion()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngIf="tramite.des_estado_voucher === 'RECHAZADO'">
                                <div class="nombre col-span-4 ml-3">
                                    <span style="color: rgb(223, 14, 14)"> {{tramite.des_estado_voucher}} - {{tramite.comentario_voucher}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <!-- Divider -->
                    <!-- <div *ngIf="requisitosCount>0" class="my-10 border-t"></div> -->

                    <!-- Section -->
                    <mat-card class="mt-6" style="border-width: 0.5px;border-radius: 6px;border-color: #12084b;" *ngIf="requisitosCount>0">
                        <mat-card-title><mat-label class="text-base">Requisitos</mat-label></mat-card-title>
                        <mat-card-content>
                            <div class="grid grid-cols-6 gap-2 w-full items-center py-2" *ngFor="let requisito of tramite.requisitos; let i = index">
                                <div class="nombre col-span-4 ml-3" *ngIf="requisito.des_estado_requisito !== 'RECHAZADO'">
                                    <b>{{requisito.nombre}}:</b> {{requisito.des_estado_requisito}}
                                </div>
                                <div class="nombre col-span-2 ml-3" *ngIf="requisito.des_estado_requisito === 'RECHAZADO'">
                                    <b>{{requisito.nombre}}:</b> <span style="color: rgb(223, 14, 14)"> {{requisito.des_estado_requisito}} - {{requisito.comentario}}</span>
                                </div>
                                <div class="nombre col-span-2 ml-3" *ngIf="requisito.des_estado_requisito === 'RECHAZADO' && requisito.extension === 'pdf' && requisito.responsable == 4">
                                    <button
                                        matTooltip="Agregar documento en pdf"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".pdf" hidden (change)="selectReqDocumento($event,requisito)"/>
                                    <a
                                        *ngIf="!tramiteForm.getRawValue().requisitos[i].archivoPdf"
                                        target="_blank"
                                        matTooltip="Editar detalle"
                                        [href]="requisito.archivo">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </a>
                                    <button 
                                        *ngIf="tramiteForm.getRawValue().requisitos[i].archivoPdf"
                                        matTooltip="Ver documento"
                                        (click)="verReqDocumento(requisito)">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                </div>
                                <div class="nombre col-span-2 ml-3" *ngIf="requisito.des_estado_requisito === 'RECHAZADO' && requisito.extension === 'jpg' && requisito.responsable == 4">
                                    <button
                                        matTooltip="Agregar documento en jpg"
                                        (click)="fileInput.click()">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                                    </button>
                                    <input #fileInput type="file" accept=".jpg" hidden (change)="selectReqImagen($event,requisito)"/>
                                    <a
                                        *ngIf="!tramiteForm.getRawValue().requisitos[i].archivoImagen"
                                        target="_blank"
                                        matTooltip="Editar detalle"
                                        [href]="requisito.archivo">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </a>
                                    <button
                                        *ngIf="tramiteForm.getRawValue().requisitos[i].archivoImagen"
                                        matTooltip="Ver documento"
                                        (click)="verReqImagen(requisito)">
                                        <mat-icon
                                            class="h-6 w-6 mr-3 ml-3"
                                            style="color: rgb(6, 11, 88)"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
            </mat-card-content>
            <mat-card-actions *ngxPermissionsOnly="['ADMINISTRADOR', 'ALUMNO']" class="flex justify-end">
                <button
                    *ngIf="tramite.idEstado_tramite === 4"
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!newVoucher || tramiteForm.disabled || tramiteForm.invalid"
                    (click)="updateTramite()">
                    <span *ngIf="!tramiteForm.disabled">
                        Actualizar Voucher
                    </span>
                    <mat-progress-spinner
                        *ngIf="tramiteForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                <button
                    *ngIf="tramite.idEstado_tramite === 9 || tramite.idEstado_tramite === 19 || tramite.idEstado_tramite === 22|| tramite.idEstado_tramite === 24"
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="tramiteForm.disabled"
                    (click)="updateRequisitos()">
                    <span *ngIf="!tramiteForm.disabled">
                        Actualizar Requisitos
                    </span>
                    <mat-progress-spinner
                        *ngIf="tramiteForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
